.wf-bg-darker{
    background-color: #212529
}

.wf-bg-dark{
    background-color: #343a40
}

.wf-darker{
    color: #212529
}

.wf-dark{
    color: #343a40
}
.wf-purple{
    color: #c66cad;
}
  wf-blue{
    color: #2869d1;
  }
  wf-purple{
    color: #c66cad;
  }
  wf-orange{
    color: #dd9944;
  }

  .panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}

.button-hidden{
  border: 0;
border-radius: 0.25rem;
background: #1E88E5;
color: white;
font-family: system-ui, sans-serif;
font-size: 1rem;
line-height: 1.2;
white-space: nowrap;
text-decoration: none;
padding: 0.25rem 0.5rem;
margin: 0.25rem;
cursor: pointer;
}