#header-title{
    font-family: 'Muli', sans-serif;
}

#web-body{
    background-color: #212529
}

#header{
    background-color: #343a40
}

.img-hover figure {
	background: #212529;
}
.img-hover figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-hover figure:hover img {
    opacity: .5;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}